.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo-container {
  width: 200px;
}

.nav-items>ul {
  font-size: 24px;
  display: flex;
  list-style: none;
}

.nav-items>ul>li {
  padding: 10px;
  margin: 10px
}